@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #E12354 ;
  --secondary: #8FB569 ;
  --tertiary: #223645 ;
}

body {
  font-family: var(--font-rubik), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* colors  */



.primay {
  color: var(--primary);
}
.secondary {
  color: var(--secondary);
}



